.autor__datos-btn {
    display: inherit;
    margin-left: auto;
    height: 40px;
    padding-top: 20px;
}

.autor__datos-btn1 {
    background-color: $color-button1!important;
    color:$color-btn!important;
    
}

.autor__datos-btn2 {
    background-color: $color-button2!important;
    color:$color-btn!important;
    margin-left: 15px;
}