//tipografia
$color-primario: black;
$color-secundario: rgb(124, 124, 124);
$color-btn: #fff; 

$color-button1: #92DCE5;
$color-button2:#EF6461;

//font families
$font-primaria: 'Montserrat', sans-serif;
$font-secundaria: 'Open Sans', sans-serif;
$font-logo:'Futura-Normal', arial;


//font sizes
$xx-large: 70px;
$x-large: 40px;
$large: 27px;
$size-medium: 19px;
$small: 15px;

//font weight
$regular: 400;
$medium: 500;
$black: 800;
