.navbar {
    background-color: #fff;
    font-family: 'Futura-Normal', arial!important;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 15px 25px;
    
}

//color de iconos///////////////////////////////////////////////////////////////////////////////
a{
    color: $color-primario!important;
}

.nav-iconos {
    display: flex;
    justify-content: flex-end;
}

//logo///////////////////////////////////////////////////////////////////////////////
.navbar__logo-gigeo {
    font-size: $x-large!important;
    margin:0;
}

.nav-bar__logo-art {
    color: $color-primario;
    font-size: 11px;
    position: absolute;
    left: 135px;
    top: 1px;
}

.navbar-toggler {
    margin-left: auto;
}

